<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <img class="logo" src="/assets/foto2.png">
      <a class="navbar-brand" href="#"> VetClient</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLinkActive="active" routerLink="home">Home</a>
          </li>
          <li class="nav-item" *ngIf="oUserSession">
            <a class="nav-link" aria-current="page" routerLink="admin/user/plist">User</a>
          </li>
          <li class="nav-item" *ngIf="oUserSession">
            <a class="nav-link" aria-current="page" routerLink="admin/usertype/plist">Usertype</a>
          </li>
          <li class="nav-item" *ngIf="oUserSession">
            <a class="nav-link" aria-current="page" routerLink="admin/servicio/plist">Servicio</a>
          </li>
          <li class="nav-item" *ngIf="oUserSession ">
            <a class="nav-link" aria-current="page" routerLink="admin/cita/plist">Cita</a>
          </li>
          <li class="nav-item" *ngIf="oUserSession">
            <a class="nav-link" aria-current="page" routerLink="admin/animal/plist">Animal</a>
          </li>
          <li class="nav-item" *ngIf="oUserSession">
            <a class="nav-link" aria-current="page" routerLink="admin/vacuna/plist">Vacuna</a>
          </li>
          <li class="nav-item" >
            <a class="nav-link" aria-current="page" routerLink="user/fechavac/evento">Vacunas</a>
          </li>
          <li class="nav-item" *ngIf="oUserSession">
            <a class="nav-link" aria-current="page" routerLink="admin/fechavac/plist">Fechavac</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLinkActive="active" routerLink="login">Login</a>
          </li>
          <li class="nav-item"*ngIf="oUserSession">
            <a class="nav-link" aria-current="page" routerLinkActive="active" routerLink="logout">Logout</a>
          </li>
         
        </ul>
        <span class="navbar-text mx-1" *ngIf="oUserSession">
          <small>
              User: {{oUserSession.username}}
          </small>
      </span>
      </div>
    </div>
  </nav>