<table class="table table-bordered table-striped">
    <tbody>
      
        <tr>
            <th>Id</th>
            <td>{{oAnimal.id}}</td>
        </tr>
        <tr>
          <td>Nombre</td>
          <td>{{oAnimal.nombre}}</td>
      </tr>
        <tr>
          <td>Color</td>
          <td>{{oAnimal.color}}</td>
      </tr>
      <tr>
        <td>raza</td>
        <td>{{oAnimal.raza}}</td>
    </tr>
    <tr>
        <td>fechaNac</td>
        <td>{{oAnimal.fecha_nac}}</td>
    </tr>
    <tr>
        <td>Vacunado</td>
        <td>{{oAnimal.vacunado}}</td>
    </tr>
    <tr>
        <td>Peso</td>
        <td>{{oAnimal.peso}}</td>
    </tr>
        <tr>
            <td>Tipo de animal</td>
            <td>{{oAnimal.tipoanimal.id}}-{{oAnimal.tipoanimal.tipo}}</td>
        </tr>
    </tbody>
  </table>
  