<table class="table table-bordered table-striped">
    <tbody>
      
        <tr>
            <th>Id</th>
            <td>{{oCita.id}}</td>
        </tr>
        <tr>
          <td>Fecha</td>
          <td>{{oCita.fecha}}</td>
      </tr>
        <tr>
          <td>Pagado</td>
          <td>{{oCita.pagado}}</td>
      </tr>
      <tr>
        <td>Animal</td>
        <td>{{oCita.animal.id}}-{{oCita.animal.nombre}}</td>
    </tr>
        <tr>
            <td>Servicio</td>
            <td>{{oCita.servicio.id}}-{{oCita.servicio.nombre}}</td>
        </tr>
        <tr>
            <td>Usuario</td>
            <td>{{oCita.usuario.id}}-{{oCita.usuario.name}}</td>
        </tr>
    </tbody>
  </table>
  