<table class="table table-bordered table-striped">
  <tbody>
    
      <tr>
          <th>Id</th>
          <td>{{oUser.id}}</td>
      </tr>
      <tr>
        <td>Name</td>
        <td>{{oUser.name}}</td>
    </tr>
      <tr>
        <td>Dni</td>
        <td>{{oUser.dni}}</td>
    </tr>
      <tr>
          <td>Surname1</td>
          <td>{{oUser.surname1}}</td>
      </tr>
      <tr>
          <td>Surname2</td>
          <td>{{oUser.surname2}}</td>
      </tr>
      <tr>
          <td>Email</td>
          <td>{{oUser.email}}</td>
      </tr>
      <tr>
          <td>Username</td>
          <td>{{oUser.username}}</td>
      </tr>
      <tr>
          <td>Citas</td>
          <td>{{oUser.citas}}</td>
      </tr>
      <tr>
          <td>Usertype</td>
          <td>{{oUser.usertype.id}}-{{oUser.usertype.name}}</td>
      </tr>
  </tbody>
</table>
