<table class="table table-bordered table-striped">
    <tbody>
      
        <tr>
            <th>Id</th>
            <td>{{oServicio.id}}</td>
        </tr>
        <tr>
          <td>Nombre</td>
          <td>{{oServicio.nombre}}</td>
      </tr>
        <tr>
          <td>Precio</td>
          <td>{{oServicio.precio}}</td>
      </tr>
        <tr>
            <td>Imagen</td>
            <td>{{oServicio.imagen}}</td>
        </tr>
        <tr>
            <td>Descripcion</td>
            <td>{{oServicio.descripcion}}</td>
        </tr>
        <tr>
            <td>Tiposervicio</td>
            <td>{{oServicio.tiposervicio.id}}-{{oServicio.tiposervicio.name}}</td>
        </tr>
    </tbody>
  </table>
  